:root {
  --clr-dark: #4c1d95;
  --clr-accent: #ff9776;
  --clr-link-drk: #00539F;
  --clr-blue-lt: #00bfff;
  --clr-white: #fff;
  --clr-neutral-200: #a1a1a1;
  --clr-neutral-100: #F8FCFD;

  --clr-link: var(--clr-link-drk);
  --clr-hover: var(--clr-accent);
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  line-height: 1;
}

a {
  text-decoration: none;
  font-size: bold;
  color: var(--clr-link);

  &:hover {
    color: var(--clr-hover);
  }
}


hr {
  opacity: .5;
  margin-block: 4rem;
}


.footnotes {
  opacity: .7;
  margin-block-end: 3rem;
}

blockquote {
  display: grid;
  gap: 0.5em;
  border-left: 4px solid var(--clr-link);
  background-color: var(--clr-neutral-100);
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.5em;

  p {
    margin: 0;
  }
}
blockquote strong {
  display: block;
}

// ============== tags & cats ================

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em;
  border-radius: 1em;
  padding: .1em 1em;
  font-size: .75em;
  background-color: var(--clr-dark);

  a {
      color: var(--clr-white);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--clr-accent);
  }
}

// ============== dark styles ================

html.dark {
  background-color: #0d0950;
  color: var(--clr-white);
}

.dark {
  a {
    --clr-link: var(--clr-white);
    font-weight: bold;

    &:hover {
      --clr-hover: var(--clr-accent);
    }
  }

  blockquote {
    background: var(--clr-dark);
  }
}