---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "Whoops!"
---

<BaseLayout pageTitle = {pageTitle}>

<h2>Looks like you found a dead end.</h2>
<p>You should probably head back <a href="/">home</a>.</p>

</BaseLayout>