---
import '../styles/global.scss'

const pageTitle = "Home"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Max Phillips | {pageTitle}</title>
  </head>

	<a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>Welcome to my page</h1>

    <p>Tim told me to start a blog. So I’m starting a blog.</p>
	
</html>