---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "Home"
---

<BaseLayout pageTitle = {pageTitle}>

  <h2>Welcome to my page</h2>
    
  <p>Tim told me to start a blog. So I’m starting a blog.</p>

</BaseLayout>
    
        