---
import { socials } from "../data/socials";
import { Icon } from 'astro-icon/components';
---



<footer>
    <div class="footer__content">

        <ul aria-label="social media links">
            {socials.map(({ name, url, icon }) => (
              <li>
                <a href={url} target="_blank" rel="noopener noreferrer" aria-label={`Follow me on ${name}`}>
                  <Icon name={icon} width="2em" height="2em" aria-hidden="true" /> 
                  {name}
                </a>
              </li>
            ))}
          </ul>

    </div>

</footer>

<style lang="scss">
  @import '../styles/breakpoints.scss';

    footer {
        margin-block: 3rem 5rem;
        padding-block-start: 2rem;
        border-block-start: 1px solid var(--clr-neutral-200);
    }
    
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;  
        list-style: none;
        padding: 0;
        border: 0;

        @include respond(sm) {
          flex-direction: row;
        }
    }

    li {
        padding: 0;
        margin: 0;
        a {
            display: flex;
            align-items: center;
            gap: .25em;

        }

    }
    
</style>