---
---

<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
    .hamburger {
        flex-shrink: 0;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: .2em;
        cursor: pointer;
        width: 30px;
        height: 20px;
    }

    .hamburger .line {
        border-radius: 1rem;
        background-color: var(--clr-hover);
    }

