---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-465BY2Z6PC"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-465BY2Z6PC');
    </script>
     
    <title>Max Phillips | {pageTitle}</title>
  </head>
  
  <body>
    <Header />
    <h1>{pageTitle}</h1>

	<slot />
	
    <Footer />
    <script>
      import "../scripts/menu.js";
      import "../scripts/external-links"
    </script>
  </body>
</html>